<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="{{ asset('@Sylius2LocalNakedTheme/css/style.css') }}">
    </head>
    <body>
        {{ include('/Shop/Homepage/_card.html.twig') }}
        {{ importmap('@monsieurbiz/sylius-2-local-naked-theme') }}
    </body>
</html>
